<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Home Page</title>
    <meta charset="utf-8">
</head>

<body>
<p>
    Пользователь: <span sec:authentication="name"></span>
    <br><br>
    Роль(и): <span sec:authentication="principal.authorities"></span>
<table border="0">
    <tr>
        <th>
            <form th:action="@{/logout}"
                  method="POST">
                <input type="submit" value="Выйти" />
            </form>
        </th>
        <th>
            <form th:action="@{/home}"
                  method="GET">
                <input type="submit" value="Центральная" />
            </form>
        </th>
        <th>
            <form th:action="@{/adminHome}"
                  method="GET">
                <input type="submit" value="Администраторская" />
            </form>
        </th>
        <th>
            <form th:action="@{/userHome}"
                  method="GET">
                <input type="submit" value="Пользовательская" />
            </form>
        </th>
    </tr>
</table>
<hr>
<h2>
    Домашняя страница
</h2>
<hr>
<p>
    Добро пожаловать!
</p>
<hr>


</body>

</html>